<div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card shadow">
          <div class="card-header bg-dark text-light">
            MANAGE PRODUCTS
          </div>
          <div class="card-body">
            <p>
              my nahsdudbsdyhdbcxhcbvxzchjxvcbjhgc bcdhkbc cbsdcjhkdbck cvsdhcbsdjhb
              scbsjhcchbcbdjhgcj vbcjsdgcjhsb bvjdgsjhcb
              ncbdjkcgjkcbcjksbn click <a href="#">HERE</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-4">
          <div class="card shadow">
            <div class="card-header bg-dark text-light">
              ADMIN OPERATIONS
            </div>
            <div class="card-body">
              <p>
                my nahsdudbsdyhdbcxhcbvxzchjxvcbjhgc bcdhkbc cbsdcjhkdbck cvsdhcbsdjhb
                scbsjhcchbcbdjhgcj vbcjsdgcjhsb bvjdgsjhcb
                ncbdjkcgjkcbcjksbn click <a href="#">HERE</a>
              </p>
            </div>
          </div>
        </div>
    </div>
    
    
    </div>
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
