<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary m-5" (click)="addNew();">Add New </button>
      <table class="table table-dark table-striped">
          <thead><tr><th>Product Name</th><th>Unit Price</th><th>Stock Level</th><th></th></tr></thead>
          <tbody>
            <tr *ngFor="let item of productList">
              <td>{{item.productName}}</td>
              <td>{{item.unitPrice}}</td>
              <td>{{item.unitsInStock}}</td>
              <td>
              <button class="btn btn-warning mr-2" (click)="selectedModel=item">Select</button>  
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-4">
      <app-manage-product-detail [model]="selectedModel"
       (createEvent)="create($event)"
      (updateEvent)="update($event)"></app-manage-product-detail>
    </div>
</div>